<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
  <title>后台发布</title>
  <link rel="stylesheet" href="__STATIC__/kindeditor/themes/default/default.css" />
  <link rel="stylesheet" href="__STATIC__/kindeditor/plugins/code/prettify.css" />
  <script charset="utf-8" src="__STATIC__/kindeditor/kindeditor.js"></script>
  <script charset="utf-8" src="__STATIC__/kindeditor/lang/zh_CN.js"></script>
  <script charset="utf-8" src="__STATIC__/kindeditor/plugins/code/prettify.js"></script>
  <!-- 引入css -->
  <link rel="stylesheet" type="text/css" href="__STATIC__/css/bootstrap.min.css">
  <!-- 引入jq -->
  <script type="text/javascript" src="__STATIC__/jq/jquery-3.4.1.js"></script>
  <!-- 引入js -->
  <script type="text/javascript" src="__STATIC__/js/bootstrap.min.js"></script>
  <script>
    KindEditor.ready(function(K) {
      var editor1 = K.create('textarea[name="content"]', {
        cssPath : '__STATIC__/kindeditor/plugins/code/prettify.css',
        uploadJson : '__STATIC__/kindeditor/php/upload_json.php',
        fileManagerJson : '__STATIC__/kindeditor/php/file_manager_json.php',
        allowFileManager : true,
        afterCreate : function() {
          var self = this;
          K.ctrl(document, 13, function() {
            self.sync();
            K('form[name=example]')[0].submit();
          });
          K.ctrl(self.edit.doc, 13, function() {
            self.sync();
            K('form[name=example]')[0].submit();
          });
        }
      });
      prettyPrint();
    });
  </script>

<style type="text/css" >

#d0{
    margin-top:40px;
   width:1200px;
   height:600px;
   padding-top:30px;
   padding-left:30px;
   margin-right:auto;
   margin-left:auto;
   background-color: #aaffff;
   }

</style>

</head>
<body>




<div id="d0" >
 <form  action="save" method="post">

        <p>标题：<input type="text" name="title" required='required' />
        <p>作者：<input type="text" name="author"  required='required'/>
        <p>来源：<input type="text" name="source"  />
        <p>类型：<input type="text" name="type" required='required' />
		<p>排行：<input type="text" name="paihang" required='required' />
		<p>资源：<input type="file" name="ziyuan"  />
		</br>







        <p style="font-family: 宋体;">内容：<textarea name="content" ></textarea>

        <!-- <p>图片：<input type="file" name="picture" /> -->

        <p><input type="submit" name="tijiao" value="提交"  class="btn btn-success"/>
           <input type="reset" name="reset" value="重置"  class="btn btn-danger"/>
 </form>



</div>



</body>
</html>
