<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<link rel="icon" type="image/x-icon" href="__STATIC__/img/you.jpg">
<title>生活经历</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<embed src="__STATIC__/MP3/jay.mp3" type="" hidden="true" autostart="true" loop="true">
<meta name="author" content="weibergmedia">
<meta name="Description" content="Contemporary HTML5 One-Page Parallax Restaurant Template">
<link href="__STATIC__/person/css/reset.css" rel="stylesheet" type="text/css" media="screen" />
<link href="__STATIC__/person/css/bootstrap.min.css" rel="stylesheet" />
<link href="__STATIC__/person/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/person/css/contact.css" rel="stylesheet" type="text/css" media="screen" />
<link href="__STATIC__/person/css/styles.css" rel="stylesheet" type="text/css" media="screen" />
<link href="__STATIC__/person/css/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />
<link href="__STATIC__/person/css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
<link href="__STATIC__/person/css/flexslider.css" rel="stylesheet" type="text/css" media="screen">
<link href="__STATIC__/person/css/Lato.css" rel="stylesheet" />
<link href="__STATIC__/person/css/Vollkorn.css" rel="stylesheet" />
<script src="__STATIC__/person/js/modernizr.js" type="text/javascript"></script>
</head>
<body>
<!-- start preloader -->
<div id="preloader">
  <div id="status">
    <div class="parent">
      <div class="child">
        <p>稍等片刻</p>
      </div>
    </div>
  </div>
</div>
<!-- end preloader --> 

<!-- start header -->
<header id="header" class="clearfix"><span class="watercolor watercolor69"></span>
  <h1 id="logo"><a href="person">回到首页</a></h1>
  <div id="menu-button">
    <div class="centralizer">
      <div class="cursor">
        <div id="nav-button"> <span class="nav-bar"></span> <span class="nav-bar"></span> <span class="nav-bar"></span> </div>
      </div>
    </div>
  </div>
  <!-- start main nav -->
  <nav id="main-nav">
    <ul class="clearfix">
      <li> <a href="#section2" class="scroller">关于</a></li>
      <li> <a href="#section3" class="scroller">外出照片</a> </li>
      <li> <a href="#section5" class="scroller">大学生活！！</a></li>
      <li> <a href="#section6" class="scroller">毕业啦！！</a></li>
      <li> <a href="#section7" class="scroller">End</a></li>
    </ul>
  </nav>
  <!-- end main nav --> 
  
</header>
<!-- end header --> 

<!-- start content -->
<div id="content">
  <div class="full-width intro">
    <div class="full-height">
      <div class="fixed">
        <figure class="background-image1 parallax"></figure>
      </div>
      <div class="full-height-wrapper white-text">
        <div class="parent">
          <div class="child">
            <section>
              <div class="container">
                <div class="animatedblock delay2 animatedUp">
                  <div class="col-lg-8 col-lg-offset-3 col-md-8 col-md-offset-2 extra-padding-top">
                    <div class="banner-textblock">
                      <h1 class="header">生活中的片段，和老铁们的日常</h1>
                      <a href="#section2" class="scroller button">往下看</a> </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="overlay"></div>
        <div id="bonappetit" class="custom-caption"></div>
      </div>
    </div>
  </div>
  <div id="social-header" class="centered">
    <ul class="social-list clearfix">
      <li> <a href="#"><i class="fa fa-instagram"></i></a> </li>
      <li> <a href="#"><i class="fa fa-facebook-f"></i></a> </li>
      <li> <a href="#"><i class="fa fa-tripadvisor"></i></a> </li>
    </ul>
  </div>
  <section class="first">
    <div class="container clearfix">
      <div id="section2" class="ancor"></div>
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-6 col-sm-6 extra-padding-right extra-padding-top">
            <h2>Good <span class="watercolor watercolor28">Day</span></br> 外出游玩的一天.</h2>
            <p>人员：小杨 </p></br>
			<p>人员：小黄 </p></br>
			<p>人员：小文 </p></br>
			<p>人员：小伍 </p></br>
			<p>还有一个比较帅的:( ≖ଳ≖)</p></br>
            <p>珍惜身边的每一份友情,无论它是不是已经过去,无论它会不会有将来。也许不会天长地久,也许会淡忘,也许会疏远,但却从来都不应该遗忘。.</p>
            <a href="#" title="" class="button"><i class="fa fa-map-signs"></i> come back</a> </div>
          <div class="clearfix col-md-6 col-sm-6 containing-image-wrapper">
            <div class="full-height-wrapper">
              <figure class="images background-image2"></figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="grey"><span class="watercolor watercolor63"></span>
    <div class="container clearfix">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-6 centered">
		   <div>
			   <img src="__STATIC__/img/want.png" alt="">
		   </div>
          </div>
          <div class="col-md-6 extra-padding-top centered-xs">
            <h5><span class="padding"><i class="fa fa-star"></i></span> <span class="padding"><i class="fa fa-star"></i></span> <span class="padding"><i class="fa fa-star"></i></span> <span class="padding"><i class="fa fa-star"></i></span> <span class="padding"><i class="fa fa-star-half-full"></i></span></h5>
            <p>地点:深圳红树林<br />
              免费！免费！免费！</p>
            <a href="https://shenzhen.cncn.com" title="" class="button" target="_blank"><i class="fa fa-tripadvisor"></i> 瞧一下</a> </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container clearfix">
      <div id="section3" class="ancor"></div>
      <div class="col-md-10 col-md-offset-1">
        <div class="centered">
          <h2>偷偷看看他们的 <span class="watercolor watercolor44">丑照</span>！ </h2>
        </div>
        <div class="images"> <img src="images/food-13.jpg" alt="" /></div>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#first" id="first-tab" role="tab" data-toggle="tab" aria-controls="first" aria-expanded="true">小杨</a></li>
          <li role="presentation"><a href="#second" role="tab" id="second-tab" data-toggle="tab" aria-controls="second">小黄</a></li>
          <li role="presentation"><a href="#third" role="tab" id="third-tab" data-toggle="tab" aria-controls="second">小文</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="first" aria-labelledBy="first-tab">
            <div class="row">
              <div class="col-md-6">
                <div class="menu-item-wrapper clearfix">
                  <h4>1<i class="fa fa-leaf"></i></h4>
                  <img src="" alt="">	
                    $14 </p>
                  <span class="bg"><i>190kcal</i></span> </div>
                <div class="menu-item-wrapper clearfix">
                  <h4> 2</h4>
                  <img src="" alt="">	
                    $19 </p>
                  <span class="bg"><i>230kcal</i></span> </div>
                <div class="menu-item-wrapper clearfix">
                  <h4>3</h4>
                   <img src="" alt="">	
                    $21 </p>
                  <span class="bg"><i>280kcal</i></span> </div>
              </div>
              <div class="col-md-6">
                <div class="menu-item-wrapper clearfix">
                  <h4>4</h4>
                  <p>。。。。 </p>
                  <span class="bg"><i>710kcal</i></span> </div>
                <div class="menu-item-wrapper clearfix">
                  <h4>5 </h4>
                  <p>。。。。。 </p>
                  <span class="bg"><i>440kcal</i></span> </div>
                <div class="menu-item-wrapper clearfix">
                  <h4>6<i class="fa fa-fire-extinguisher"></i></h4>
                  <p>.。。。。。 </p>
                  <span class="bg"><i>560kcal</i></span> </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="second" aria-labelledBy="second-tab">
            <div class="row">
              <div class="col-md-6">
                <div class="menu-item-wrapper clearfix">
                  <h4>1</h4>
                  <p>.。。。。 </p>
                  <span class="bg"><i>230kcal</i></span> </div>
                <div class="menu-item-wrapper clearfix">
                  <h4>2<i class="fa fa-heart"></i></h4>
                  <p>.。。。</p>
                  <span class="bg"><i>160kcal</i> </span> </div>
              </div>
              <div class="col-md-6">
                <div class="menu-item-wrapper clearfix">
                  <h4>3</h4>
                  <p>.。。。。。</p>
                  <span class="bg"><i>230kcal</i></span> </div>
                <div class="menu-item-wrapper clearfix">
                  <h4>4<i class="fa fa-balance-scale"></i></h4>
                  <p>。。。。。。</p>
                  <span class="bg"><i>330kcal</i></span> </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="third" aria-labelledBy="third-tab">
            <div class="row">
              <div class="col-md-6">
                <div class="menu-item-wrapper clearfix">
                  <h4>1</h4>
                  <p>.。。。。。 </p>
                  <span class="bg"><i>440kcal</i></span> </div>
                <div class="menu-item-wrapper clearfix">
                  <h4>2<i class="fa fa-heart"></i></h4>
                  <p>.。。。。。<br />
                    12$ </p>
                  <span class="bg"><i>760kcal</i> </span> </div>
              </div>
          </div>
        </div>
        <div class="bordered clearfix centered"><span class="watercolor watercolor29"></span>
          <div class="rounded-icon-wrapper">
            <div class="rounded-icon"><i class="fa fa-leaf"></i></div>
            <p>日常</p>
          </div>
          <div class="rounded-icon-wrapper">
            <div class="rounded-icon"><i class="fa fa-balance-scale"></i></div>
            <p>游戏</p>
          </div>
          <div class="rounded-icon-wrapper">
            <div class="rounded-icon"><i class="fa fa-heart"></i></div>
            <p>互怼</p>
          </div>
          <div class="rounded-icon-wrapper">
            <div class="rounded-icon"><i class="fa fa-fire-extinguisher"></i></div>
            <p>两个单身dog</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container clearfix">
      <div id="section5" class="ancor"></div>
      <div class="col-md-10 col-md-offset-1">
        <div class="centered">
          <h2>大学 <span class="watercolor watercolor25">日常</span></h2>
        </div>
        <div class="borderline"></div>
        <div class="row">
          <div class="clearfix col-md-6 col-sm-6"> <a href="#" title="">
        <div class="images teaser image-with-overlay white-text"><img src="" alt="" />
			<!--  -->
			<!--  -->
			<!--  -->
			<!--  -->
			<!--  -->
             
              <div class="overlay"></div>
            </div>
            </a> </div>
        </div>
        <div class="borderline"></div>
      </div>
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <blockquote> 时光在流逝，从不停歇;万物在更新，而我们在成长。岁月是那么的公平，从不多给人一秒，相反也不会少给任何人一秒。每个人都会由时光的飞逝而经历着人生中最重要的过渡，如：从幼稚到成熟，从冲动到沉着，有纯真到心思慎密。
          <footer>Jie</footer>
        </blockquote>
      </div>
    </div>
  </section>
  <section class="turn-grey">
    <div class="container clearfix">
      <div id="section6" class="ancor"></div>
      <div class="col-md-10 col-md-offset-1">
        <div class="centered">
          <h2><span class="watercolor watercolor9">毕业照</span></h2>
        </div>
      </div>
    </div>
    <div class="container clearfix">
      <div class="col-md-10 col-md-offset-1">
        <div class="flexslider slideshow">
          <ul class="slides">
            <li> <img src="__STATIC__/person/images/05.jpg" alt="" /> </li>
            <li> <img src="__STATIC__/person/images/05.jpg" alt="" /> </li>
            <li> <img src="__STATIC__/person/images/05.jpg" alt="" /> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container clearfix">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 centered">
        <h3>毕业了，多么想留住那些温暖的日子，但又多么渴望着能早日投入生活的洪流，大学生活的点滴，我将永记心头</h3>
        <p><i class="fa fa-instagram"></i> GUANG DONG GDAIB @<a href="https://instagram.com/" title="" target="_blank">SCHOOL</a></p>
      </div>
    </div>
  </section>
  <section>
    <div class="container clearfix">
      <div id="section7" class="ancor"></div>
      <div class="col-md-10 col-md-offset-1">
        <div class="centered">
          <h2><span class="watercolor watercolor62">谢谢</span> 观看</h2>
        </div>
      </div>
    </div>
    <div class="container clearfix">
      <div class="col-md-10 col-md-offset-1 centered">
        <div>
			<img src="__STATIC__/person/images/think.gif" alt="" height="500px">
		</div>
      </div>
    </div>
    <div class="container clearfix">
      <div class="col-md-10 col-md-offset-1 centered">
        <div class="borderline"></div>
        <div class="row">
          <div class="col-md-6">
            <h3 class="header">联系电话</h3>
            <p><span class="padding"><i class="fa fa-phone"></i></span> 1111111111</p>
          </div>
          <div class="col-md-6 extra-padding-top-xs">
            <h3 class="header extra-padding-top-xs">位置呢？</h3>
            <p><span class="padding"><i class="fa fa-map-marker"></i></span> <a href="https://map.baidu.com/" title="" target="_blank">这个</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end content -->

<footer id="footer">
  <div class="padding-wrapper upper-part white-text">
    <div class="container clearfix">
      <div class="col-lg-12 centered">
        <h3>累了看看电影休息一下</h3>
        <p><strong>#####</strong><br />
         鲸鱼电影<span class="superscript">th</span> school<br />
          -by-jie</p>
        <a href="index1" title="Facebook Fanpage" class="button"><i class="fa fa-social-fb"></i>跳转</a> </div>
    </div>
  </div>
  <div class="padding-wrapper lower-part">
    <div class="container clearfix">
      <div class="col-lg-12 centered">
        <p>© 2021, GUANG DONG <span class="lighter">&#183;</span> <a href="#">SCHOOL</a> <span class="lighter">&#183;</span> <a href="#">ZHONGXIN</a> </p>
        <p>Made with <i class="fa fa-heart"></i> by <a href="http://www.bootstrapmb.com/" data-title="Premium HTML5 Website Templates">MR-jie</a>.</p>
      </div>
    </div>
  </div>
</footer>
<script src="__STATIC__/person/js/jquery-1.12.4.min.js" type="text/javascript"></script> 
<script src="__STATIC__/person/js/jquery-easing-1.3.js" type="text/javascript"></script> 
<script src="__STATIC__/person/js/jquery.touchSwipe.min.js" type="text/javascript"></script> 
<script src="__STATIC__/person/js/main.js" type="text/javascript"></script> 
<script src="__STATIC__/person/js/jquery.form.js" type="text/javascript"></script> 
<script src="__STATIC__/person/js/input.fields.js" type="text/javascript"></script> 
<script src="__STATIC__/person/js/preloader.js" type="text/javascript"></script> 
<script src="__STATIC__/person/js/bootstrap.min.js" type="text/javascript"></script> 
<script src="__STATIC__/person/js/jquery.fancybox.pack.js" type="text/javascript"></script> 
<script src="__STATIC__/person/js/jquery.flexslider-min.js" type="text/javascript"></script> 
<script src="__STATIC__/person/js/jquery.nav.js" type="text/javascript"></script> 
<script src="__STATIC__/person/js/slideshow.js" type="text/javascript"></script>
</body>
</html>