<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/bootstrap.min.css">
	<title>查询</title>
</head>
<body class="container-fluid">
<table class="table table-hover table-bordered">
    <caption>信息查询</caption>
    <thead>
        <tr class="bg-primary">
            <th>序号</th>
            <th>文章名称</th>
            <th>作者</th>
            <th>来源</th>
            <th>类型</th>
            <th>资源</th>
			<th>视频排行</th>
			<th>操作</th>
        </tr>
    </thead>
    <tbody>

    {volist name="jg" id="onedy"}
	
        <tr>
            <td>{$onedy->Id}</td>
            <td>{$onedy->title} </td>
            <td>{$onedy->author} </td>
            <td>{$onedy->source} </td>
            <td>{$onedy->type} </td>
			<td>{$onedy->ziyuan} </td>
			<td>{$onedy->paihang}</td>
            <td>
			<a class="btn btn-primary btn-sm" href="edit?id={$onedy->Id}">
            <li class="glyphicon glyphicon-pencil"></li> 编辑
			</a>
            <a class="btn btn-danger btn-sm" href="delete?id={$onedy->Id}"> <li class="glyphicon glyph            icon-trash"></li> 删除
			</a>
            </td>
        </tr>
    {/volist}
    </tbody>
</table>
<div id="d2">
	{$jg->render()}
</div>
</body>
</html>